@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */

    .pictureone{
        width: 100%;
    }
    .pictureconditions{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        font-size: 1.25em;
    }


    article p.town-article img { width: 29.333%; }


    /*GRID GALLERY*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5px;
    }
    .hover:hover{
        box-shadow: none;

    }
    .gallery .picdescription:hover{
        box-shadow: 5px 5px 10px gray;
    }


    .home section .row, .reverse {
        display: flex;
        flex-direction: column;
    }

    .home section {
        display: flex;
        flex-direction: row;
    }
}
