/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}
header h1 {
    color: #6495ED;
}
.titles{
    display: flex;
    flex-direction: column;
}
header img {

}
header .subheading {
    font-size: 1.25em;
    color: #696969;
}

.topnav ul{

    display: none;
}
.topnav.responsive ul{
    float: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}

nav {}
nav button {}
nav ul {}
nav ul li {
    display: flex;
    padding: 8px;
    background-color: #ADD8E6;

}
nav ul li a {
    color: #696969;
}
nav ul li.active a {
    color: #6495ED;

}
nav ul li a:hover {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    color: #6495ED;
    text-align: center;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {}

.forecast {
    display: none;
}

.summary {
    display:none;
}

.highlow{
    display:flex;
    flex-wrap: wrap;
}

/* separates high and low*/
.highlow p {
    margin: auto;
}

/*wraps condition and icon*/
.current {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

.current p {
    display: flex;

}

/*Sunny Icon*/
.current picture {
   padding-top: 10px;
}

/*brings text to center*/
.conditions {
    text-align: center;

}

article h3{
    text-align: center;
    color: #6495ED;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    border-width: thin;
    border-color: black;
}

article p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    max-width: 80%; /* fill the page in the small/phone view */
    display: flex;
    border: solid;
    border-width: thin;
    border-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer aside {
    text-align: center;
    background-color:#ADD8E6;
    color: #696969;
}
footer>p {
    background-color:#696969;
    color: white;
    margin: 0;
} /* This structure refers to p elements that are direct children of the footer element */

/*GALLERY PAGE CSS*/

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    text-align: center;
    margin-top: 10px;
}

.hover{
    max-width: 100%;
}

.hover:hover {
    box-shadow: 5px 5px 10px gray;
}

/*STORM CENTER*/
form{
    margin: 0 0 10px 0;
}
form label {
    display:inline-block;
    padding: 5px;
    min-width: 120px;
}
.flex {
    display: flex;
    flex-direction: column;
}
.submit {
    padding: 5px;
}

/*Home page specifics*/

.row img, .reverse img{
    max-width: 90%;
    margin: 5px;
}

.home, .row, .reverse {
    margin: 5px;
}





