@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    mytopnav.responsive{
        display: flex;
    }

    .topnav ul{
        display: flex;
    }

    nav{
        width: 100%;
       /* margin: 0 0 0 0;
        padding: 0;*/
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 0;
    }

    nav ul li {
       /* float: left;
        width: 16.66%;*/
        flex-grow: 1;
        text-align: center;
       /* margin: 0 0 0 0;*/
    }

   .pictureone{
        display: flex;
        width: 50%;
    }

    .summaryw{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .pictureconditions{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .forecast{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;

    }

    main h3{
        color: #6495ED;
    }

    table{
        background-color: black;
        border: solid;
        border-color: black;
        margin-bottom: 20px;
    }
    th, td{
        width: 1%;
        border-width: thin;
        border-color: black;
        margin: 0;
        padding: 0;
        background-color: #ADD8E6;

    }
    td {
        text-align: center;
    }

    section.forecast { display:flex; }  /* show the 10-day forecast with the medium view and up */

    article p.town-article img {
        width: 62.666%;
        margin: 0 10px;
    }  /* responsive images */
    article p {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: left;

    }

/*GRID GALLERY*/
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

}
