@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */


    /* Nav bar css */
    nav button { display:none; }  /* hamburger button does not need to be shown */

    mytopnav.responsive{
        display:block;
    }

    .topnav ul{
        display: block;
    }

    nav{
        width: 100%;
        margin: 0 0 0 0;
        padding: 0;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 0;
    }

    nav ul li {
        float: left;
        width: 16.66%;
        text-align: center;
        margin: 0 0 0 0;
    }

    nav a {

    }

    main figure{
        display: inline-block;
        width: 40%;
    }


    figure, .summaryw {
        display: inline-block;
        vertical-align: top;
    }

    #summary {
        padding: 3%;
        float: right;
    }

    .current {
        text-align: center;
    }

    section.forecast { display: inline-block; }  /* show the 10-day forecast with the medium view and up */

    article {
        overflow: auto;
    }

    article p.town-article img {
        width: 62.666%;
        float: right;
        margin: 0 0 1em 1em;
    }
}
